@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #FFFEFD;
    font-family: lato;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    
}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}


.header-content-novigation {
    display: flex;
    height: 100%;
   
}

.header-content-link {
    display: block;
  
    color: #1A212F;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
     
}

.header-content-link + .header-content-link {
    margin-left: 30px;
}

.main-inner {
    height: 500px;
    background-size: cover;
    background-image:url(/Background.png),url(/cat1.png),url(/cat.png);
    background-repeat: no-repeat;
    background-position: center;
}

.main-inner-content {
    padding-top: 140px;
    padding-left: 80px;
}

.main-inner-content-city {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
}

.main-inner-content-theme {
    font-size: 62px;
    font-family: Rubik;
    margin-bottom: 5px;
}

.main-inner-content-comfort {
    font-size: 20px;
    font-weight: 500;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 206px;
    height: 50px;
    margin-top: 40px;

    background: #FFFEFD;
    box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);

    border-radius: 25px;
    border: none;

    font-weight: 600;
    font-size: 16px;
    font-family: Lato;

}

.button::after{
    content: url(/paw.png);
}

/*  /HEADER */

/*  ABOUT   */

.about {
    background-image: url(/paw-bacl.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-position-y: 15px;
}

.block-title {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 70px;
}

.title {
    font-family: Rubik;
    font-weight: bold;
    font-size: 36px;
    color: #1A212F;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-container-card {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 8px;
    width: 370px;
    height: 321px;
    margin-right: 30px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

.about-card-img {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.about-container-card:nth-child(3n) {
    margin-right: 0px;
}

.about-container-title {
    width: 284px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.about-container-subtitle {
    margin-left: 30px;
    width: 291px;
}


.slick-track {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.slick-list {
    overflow: hidden;
}

.number-container .slick-arrow {    
    position: absolute;
    font-size: 0;
    bottom: 0;
    right: 0;
    border: none;
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
    border-radius: 50%;
}

.number-container .slick-prev {
    background: url(/Vector-left.svg) center  no-repeat;
    right: 175px;
}

.number-container .slick-next {
    background: url(/right.svg) center no-repeat;
    right: 130px;
}

.number-container .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-container .slick-dots li ~ li{
    margin-left: 12px;
}

.number-container .slick-dots li {
    list-style: none;
}

.number-container .slick-dots  button {
    font-size: 0;
    height: 12px;
    width: 12px;
    background-color: #E1E1E1;
    border-radius: 50%;
    border: none;
}

.number-container .slick-dots .slick-active button{
    background-color: #FFE1A7;
}

.number-container {
    position: relative;
}

.number-container-slider-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-container-img {

}

.number-container-card {
    z-index: 1;
    margin-left: -60px;
    width: 460px;
    height: 204px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
    text-align: start;
}

.number-container-card-content-subtitle {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 15px;
}

.number-container-card-content-list {
    padding-left: 20px;
    list-style-image: url(/Ellipse.jpg);
    margin: 0;
}

.number-container-card-content-list-element ~ .number-container-card-content-list-element {
    margin-bottom: 20px;
    margin-top: 20px;
}